{% extends 'layout.html' %}

{% block styles %}
    <link rel="stylesheet" href="styles/not-found.css">
{% endblock styles %}

{% block title %}
    <title>Page not found</title>
{% endblock title %}

{% block content %}
    <div class="error">
        <h1>404</h1>
        <div class="not-found">
            <h2>Oops!</h2>
            <h4>We can't seem to find the page you're looking for.</h4>
        </div>
    </div>
{% endblock content %}