{% extends 'layout.html' %}

{% block styles %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="styles/portfolio.css">
    <link rel="stylesheet" href="styles/video.css">
{% endblock styles %}

{% block title %}
    <title>Videos</title>
{% endblock title %}

{% block content %}

    <div id="wrapper">
        <h1>{{ items.tittle }}</h1>

    </div>

    <section class="video">

        <div class="card" id="{{ items.id}}">
            <div class="card_video-container">
                <iframe src="https://youtube.com/embed/{{ items.id}}" frameborder="0"></iframe>
            </div>

            <div class="card_content">
                <p>{{ items.tittle}}</p>
            </div>

            <div class="card_info">
                <p>{{ items.duration}}</p>
                <p class="card_price">{{ items.price}}</p>
            </div>
        </div>

    </section>

{% endblock content %}