{% extends 'layout.html' %}

{% block styles %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="styles/portfolio.css">
{% endblock styles %}

{% block title %}
    <title>Foodfy</title>
{% endblock title %}

{% block content %}

    <div id="wrapper">
        <h1>Portfolio</h1>

    </div>

    <section class="cards">

        {% for item in items %}
            <div class="card" id="id">
                <div class="card_image-container">
                    <img src="url" alt="EU">
                </div>

                <div class="card_content">
                    <p>title</p>
                </div>

                <div class="card_info">
                    <p> duration</p>
                    <p class="card_price">price</p>
                </div>
            </div>
        {% endfor %}

    </section>

{% endblock content %}